<header>
  <div class="container">
    <a href="/">
      <img src="/logo.png" alt="Flash Cart Logo" class="logo" />
    </a>
    <nav>
      <ul>
        <li>
          <a href="/flashcards">Flash Cards</a>
        </li>
        <li>
          <a href="/account">Mon Compte</a>
        </li>
        <li>
          <a href="/login">deconnexion</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
