<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
      Flash Cards
    </title>
    @vite(['resources/css/app.css', 'resources/js/app.js'])
  </head>
  <body>
    @include('partials/header')
    <main>
      <section class="flashcards">
        <h1>
          Mes Flash Cards
        </h1>
        <div class="card">
          Question : Qu'est-ce qu'AdonisJS ?<br />Réponse : Un framework Node.js MVC
        </div>
        <div class="card">
          Question : Quel langage utilise AdonisJS ?<br />Réponse : JavaScript / TypeScript
        </div>
      </section>
    </main>
    @include('partials/footer')
    <script>
      fetch("header.html").then(response => response.text()).then(data => document.getElementById("header").innerHTML = data);
      
      fetch("footer.html").then(response => response.text()).then(data => document.getElementById("footer").innerHTML = data);
    </script>
  </body>
</html>
