<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>
      Flash-card Romain schertenleib
    </title>
    @vite(['resources/css/app.css', 'resources/js/app.js'])
    @stack('dumper')
  </head>
  <body>
    @include('partials/header')
    <div class="container">
      <section class="hero">
        <h1>
          Bienvenue sur Flash Cart
        </h1>
        <p>
          Votre destination ultime pour les cartes mémoire de qualité.
        </p>
        <div id="header">
        </div>
        <main>
          <section class="flashcards">
            <h1>
              Mes Flash Cards
            </h1>
            <div class="card">
              Question : Qu'est-ce qu'AdonisJS ?<br />Réponse : Un framework Node.js MVC
            </div>
            <div class="card">
              Question : Quel langage utilise AdonisJS ?<br />Réponse : JavaScript / TypeScript
            </div>
          </section>
        </main>
        <div id="footer">
        </div>
      </section>
    </div>
    @include('partials/footer')
  </body>
</html>
