<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
      Créer un Nouveau Deck
    </title>
    @vite(['resources/css/decks_created.css', 'resources/js/app.js'])
  </head>
  <body>
    <div class="container">
      <header>
        <h1>
          Créer un Nouveau Deck
        </h1>
      </header>
      @each(deck in decks)
        <form action="/decks/{{ deck.id }}/update" method="POST" id="newDeckForm">

          <div class="form-group">
            <label for="deckTitle">Titre du Deck:</label>
            <textarea type="text" id="deckTitle" name="name" required>{{ deck.name }}</textarea>
            @if(session.has('errors.updated_name'))
              <p class="error">
                {{ session.get('errors.updated_name') }}
              </p>
            @endif
          </div>
        @end
        @each(deck in decks)
          <div class="form-group">
            <label for="deckDescription">Description du Deck:</label>
            <textarea id="deckDescription" name="description" rows="4" required>{{ deck.description }}</textarea>
            @if(session.has('errors.updated_desc'))
              <p class="error">
                {{ session.get('errors.updated_desc') }}
              </p>
            @endif
          </div>
        @end
        <div class="form-actions">
          <a href="/decks" type="button" id="cancelButton" class="cancel">Abandonner</a>
          <button type="submit" class="submit">OK</button>
        </div>
      </form>
    </div>
  </body>
</html>
