<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
      Mes Decks
    </title>
    @vite(['resources/css/decks.css', 'resources/js/app.js'])
  </head>
  <body>
    @include('partials/headerconnect')
    <div class="container">
      @each(deck in decks)
        <h1>
          Decks {{ deck.name}}
        </h1>
      @end
      
      @each(deck in decks)
        <!-- Bouton Ajouter -->

        <a
          onClick="return confirm(`Voulez-vous vraiment supprimer le deck {{ deck.name }} ?`)"
          href='/decks/{{ deck.id }}/delete'
          class="btn btn-primary"
        >deleted</a>
        <a href='/decks/{{ deck.id }}/edit' class="btn btn-primary">update</a>
      @end
      <!-- Liste des decks -->
      <table class="deck-table">
        <thead>
          <tr>
            <th>
              Titre
            </th>
            <th>
              Description
            </th>
          </tr>
        </thead>
        <tbody>
          @each(deck in decks)
            <tr class="deck-item" onclick="location.href='/decks/{{ deck.id }}'">
              <td>
                {{ deck.name }}
              </td>
              <td>
                {{ deck.description }}
              </td>
            </tr>
          @else
            <tr>
              <td colspan="2" class="empty-message">
                Aucun deck disponible
              </td>
            </tr>
          @end
        </tbody>
      </table>
    </div>
  </body>
</html>
